<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>

    <header>
        <%- include('../partials/header') %> 
    </header>

    <main>
        <div class="tabs is-centered">
            <ul>
              <li class="tablinks is-active" onclick="openTab(event, 'profile')"><a>Profile</a></li>
              <li class="tablinks" onclick="openTab(event, 'posted-gigs')"><a>Posted Gigs</a></li>
              <li class="tablinks" onclick="openTab(event, 'applied-gigs')"><a>Applied Gigs</a></li>
            </ul>
        </div>

        <div class="section" id="profile" class="tabcontent">
            <h3 class="title">Profile</h3>
            <p><strong>First Name: </strong><%= user.firstName %></p>
            <p><strong>Last Name: </strong><%= user.lastName %></p>
            <p><strong>Email: </strong><%= user.email %></p>
            <p><strong>Account Created: </strong><%= user.accountCreated %></p>
            <br>
            <form method="POST" action="/profile?_method=DELETE">
                <button class="button is-danger" type="submit">Delete Account</button>
            </form>
        </div>
        

        <div id="posted-gigs" class="tabcontent">
        <h3>Posted Gigs</h3>
        <p><%= postedGigs %></p>
        </div>

        <div id="applied-gigs" class="tabcontent">
        <h3>Applied Gigs</h3>
        <p>Testing testing testing 2</p>
        </div>

    </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <!-- possible some script partials here -->
  <script> <%- include('../../public/scripts/tabs.js') %> </script>
  <script> <%- include('../../public/scripts/navbar.js') %> </script>

  </body>
</html>