<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>

    <header>
        <%- include('../partials/header') %> 
    </header>

    <main>
        <div class="tabs is-centered">
            <ul>
                <li <% if (deleteGig === 'true') { %>
                    class="tablinks"
                <% } else { %>
                    class="tablinks is-active"
                <% } %>onclick="openTab(event, 'profile')"><a>Profile</a></li>
                <li <% if (deleteGig === 'true') { %>
                    class="tablinks is-active"
                <% } else { %>
                    class="tablinks"
                <% } %>onclick="openTab(event, 'posted-gigs')"><a>Posted Gigs</a></li>
                <li class="tablinks" onclick="openTab(event, 'applied-gigs')"><a>Applied Gigs</a></li>
            </ul>
        </div>

        <div id="profile" class="section tabcontent" <% if (deleteGig === 'true') { %>
            style="display: none;"
        <% } else { %>
            style="display: block;"
        <% } %>>
            <h3 class="title">Profile</h3>
            <p><strong>First Name: </strong><%= user.firstName %></p>
            <p><strong>Last Name: </strong><%= user.lastName %></p>
            <p><strong>Email: </strong><%= user.email %></p>
            <p><strong>Account Created: </strong><%= user.accountCreated %></p>
            <br>
            <form method="POST" action="/profile?_method=DELETE">
                <button class="button is-danger" type="submit">Delete Account</button>
            </form>
        </div>
        

        <div id="posted-gigs" class="section tabcontent" <% if (deleteGig === 'true') { %>
            style="display: block;"
        <% } else { %>
            style="display: none;"
        <% } %>>

        <h3 class="title your-title is-underlined">Your Posted Gigs</h3>
        <% postedGigs.forEach(item => { %>
            <div class="section posted-gigs">
                <p><strong>Title: </strong><%= item.title %></p>
                <p><strong>Type: </strong><%= item.type %></p>
                <p><strong>Area of Work: </strong><%= item.workArea %></p>
                <p><strong>Date of Work: </strong><%= item.workDate.getDay()+' '+item.workDate.toLocaleString('default', {month: 'short'})+' '+item.workDate.getFullYear() %></p>
                <p><strong>Job Description: </strong><%= item.messageBody %></p>
                <p><strong>Payment Mode: </strong><%= item.paymentBy %></p>
                <p><strong>Amount: </strong>$<%= item.amount %></p>
                <p><strong>Date Posted: </strong><%= item.datePosted %></p>
                <p><strong>Last Updated: </strong><%= item.lastUpdated %></p>
                <br>

                <div class="field is-grouped">
                    <a href="/gigs/edit?id=<%= item._id %>"><button class="button is-dark mr-2">Edit</button></a>

                    <form method="POST" action="/profile/<%= item._id %>?_method=DELETE">
                        <button class="button is-danger" type="submit">Delete</button>
                    </form>
                </div>

            </div>
        <% }) %>
        
        </div>

        <div id="applied-gigs" class="tabcontent">
        <h3 class="title">Applied Gigs</h3>
        <p>Under Construction!</p>
        </div>

    </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <!-- possible some script partials here -->
  <script> <%- include('../../public/scripts/tabs.js') %> </script>
  <script> <%- include('../../public/scripts/navbar.js') %> </script>

  </body>
</html>